{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="form-box">
                <h1 style="text-align:center;">Project Management Login</h1>
                {% if messages %}
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
                {% endif %}
                <div class="wrapper">
                    <div class="container-fluid">
                        <div class="form-box" style="text-align:center;">
                            <form method="post" action="" class="container-fluid" style ="position: relative;">
                                <div  class="container">
                                    <div  class="row justify-content-center">
                                      <div  class="col-4">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit"/>
                                            <a href="{% url 'register' %}" class="nav-item nav-link active">Not Registered, Register</a>
                                      </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br>
{% endblock %}