{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="container-fluid">
            <div class="form-box">
                <h1 style="text-align:center;">PM Sign Up</h1>
                    {% if messages %}
                    {% for message in messages %}
                     <p>{{ message }}</p>
                        {% endfor %}
                        {% endif %}
                    <div class="wrapper">
                        <div class="container-fluid">
                            <div class="form-box">
                                <form method="post" action="" class="container-fluid" style ="position: relative;">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit"/>
                                    <a href="{% url 'login' %}" class="nav-item nav-link active">Arleady Registered, Login</a>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    
{% endblock %}