{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section>
            <h2>Project Details</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create Project</button>
            </form>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
{% endblock %}