{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section>
            <h1>Create a New Task for {{ project.name }}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'project_detail' project.id %}">Back to Project</a></li>
            </ul>
        </nav>
            <h2>Task Details</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create Task</button>
            </form>

            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="message">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </section>
{% endblock %}