{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section>
            <h2>Project Details</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <div>
                    <button type="submit">Create Project</button>
                </div>
            </form>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
{% endblock %}